<div class="container-fluid">
<h1>Детали пансионата</h1>
<%= simple_form_for resource do |f| %>
      <%= f.input :name %>
      <%= f.input :city_name, collection: ['Геническ', 'Генгорка', 'Счастливцево', 'Стрелковое'] %>
      <%= f.input :has_parking %>
      <%= f.input :total_rooms %>
      <%= f.submit %>
    <% end %> 
</div>