<!DOCTYPE html>
<html ng-app="pansionatApp">
<head>
  <title>Genich</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="pansionatApp">
  <!-- header-mainpage -->
  <% if controller_name == 'hotels' && action_name == 'index' %>
    <%= render 'layouts/header' %>
  <% else %>
    <%= render 'layouts/headernew' %>
  <% end %>

	<div class="container-fluid main">
    <div ui-view></div>
	</div>
  
	<!-- footer -->
  <%= render 'layouts/footer' %>

  <script type="text/ng-template" id="/hotels.html">
    <div class="page-header">
      <h3>{{hotel.name}}</h3>

      <div class="row">
        <div class="col-md-4">
          {{hotel.city_name}}
        </div>
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="/home.html">
    <div class="col-md-6">
      <div class="panslist myfade" ng-repeat="hotel in hotels">
        <div class="row">
          <div class="col-md-12">
            <p><span><h2><a href="#/hotels/{{hotel.id}}">{{hotel.name}}</a></h2></span></p>
            <p><span><h4>{{hotel.city_name}}</h4></span></p>
          </div>
        </div>
      </div>
    </div>
  </script>
</body>
</html>
