<!DOCTYPE html>
<html ng-app="pansionatApp">
<head>
  <title>Genich</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-controller="PansListCtrl">
  <!-- header-mainpage -->
  <% if controller_name == 'hotels' && action_name == 'index' %>
    <%= render 'layouts/header' %>
  <% else %>
    <%= render 'layouts/headernew' %>
  <% end %>

	<div class="container-fluid main">
		<%= yield %>
	</div>
  
	<!-- footer -->
  <%= render 'layouts/footer' %>
</body>
</html>
